@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@678&display=swap');

*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #fff;
}

header{
    background-color: #FFFBF0;
}

.first-heading{
    font-family: 'Quicksand', sans-serif;
}

.child-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -20px;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.menu .link{
    position: relative;
    display: flex;
}

.just{
    margin-left: 40px;
}


.menu .link li{
    list-style: none;
    margin: 8px;
   
}
.menu .link li a{
    text-decoration: none;
    color: #696969;
    font-size: 16px;
    padding-right: 10px;
}

.menu .link li a.active{
    color: rgba(0, 0, 0, 0.979);
    
}

.menu .link li a:hover{
    text-transform: 3s;
    color: black;
}

.container{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-left: 40px;
}

.container .text-list{
    position: relative;
    font-family: sans-serif;
    margin-top: 40px;
    margin-left: 50px;
}

.text-list .first{
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(253, 186, 61);
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.text-list .second{
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 10px;
}

.text-list p{
    font-size: 15px;
    padding-bottom: 30px;
}

.text-list .hlw {
    text-decoration: none;
    background-color:  #0d6efd;
    padding: 10px;
    border-radius: 5%;
    font-weight: 700;
    color: white;
}

.imge{
    padding-right: 20%;
    margin-bottom: 1.5em;
}

/* ladies jaket products price*/


.products{
    background: white;
}

.products .titel{
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 40px;
    font-family: sans-serif;
}

.product-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    font-family: sans-serif;
    flex-wrap: wrap;
}

.women-jakets{
    box-sizing: border-box;
    margin: 0 50px;
    border-radius: 1.5%;
    width: 300px;
}


.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.jac{
    width: 100%;
    padding-bottom: 15px;
}

.card-body{
    padding: 0 12px;
    

}

.name{
    font-size: 22px;
    padding-bottom: 10px;
}

.p-titel{
    font-size: 16px;
    padding-bottom: 20px;
}

.d-flex{
    padding: 10px 0;
    margin-bottom: 10px;
}

.d-flex .hlw{
    text-decoration: none;
    background-color:  #0d6efd;
    padding: 10px;
    border-radius: 5%;
    font-weight: 700;
    color: white;
    left: 80px;
    margin-bottom: 2%;
    position: relative;
}

.d-flex span{
    font-family: 'Quicksand', sans-serif;;
    color: rgb(253, 186, 61);
    font-size: 32px;
}


/*man jacket products*/

.men-jakets{
    box-sizing: border-box;
    margin: 0 50px;
    border-radius: 1.5%;
    width: 300px;
}

/*last section this webpage*/

.last-section{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.child-section{
    justify-content: space-between;
}

.litel-div{
    display: flex;
    margin-bottom: 50px;
}

.png{
    width: 78px;
}

.hi{
    font-size: 25px;
    margin-bottom: 10px;
}

.info{
    font-size: 16px;
}
